<div class="col-md-4" *ngFor='let items of contacto'>
    <div class="card text-center">
        <div class="card-header bg-dark d-flex justify-content-between align-items-center text-white">
            {{items.nombre}}
            <button class="btn btn-danger" (click)="deleteContacto(items.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="items.image" class="card-img-top" alt="">
        <div class="card-body">
            <p>{{items.nombre_empresa}}</p>
            <a [routerLink]="['/contacto/edit', items.id]" class="btn btn-info btn-block">
                Editar Contacto
            </a>
        </div>
    </div>
</div>