<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="nombre" [(ngModel)]="contacto.nombre" placeholder="Nombre y Apellido"
            class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="nombre_empresa" [(ngModel)]="contacto.nombre_empresa" placeholder="Nombre Empresa"
            class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="email" [(ngModel)]="contacto.email" placeholder="E-Mail" class="form-control"
            autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="telefono" [(ngModel)]="contacto.telefono" placeholder="Telefono" class="form-control"
            autofocus>
        </div>
        <div class="form-group">
          <ng-select [(ngModel)]="selectedCategory" class="form-control" name="categoria_id">
            <ng-option *ngFor="let items of categoria" [value]="items.categoria_id">{{items.categoria}}</ng-option>
          </ng-select>
        </div>
        <!-- <div class="form-group">
                        <ng-select [items]="categoria"  class="form-control" bindLabel="categoria" bindValue="id" [(ngModel)]="selectedCategory" (change)="onChange($event)"> 
                        </ng-select>
                    </div> -->
        <div class="form-group">
          <textarea name="mensaje" [(ngModel)]="contacto.mensaje" rows="2" placeholder="Mensaje"
            class="form-control"></textarea>
        </div>
        <div class="form-group">
          <textarea name="image" [(ngModel)]="contacto.image" rows="2" placeholder="Imagen"
            class="form-control"></textarea>
        </div>
        <button class="btn btn-success btn-block" (click)="edit ? updateContact() : saveNewContact()">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4">
    <div class="card card-body text-cemter">
        <img [src]="contacto.image == '' ? '/assets/noimage.png' : contacto.image" alt="" class="card-img-top">
        <h3>{{contacto.nombre == '' ? 'Nombre' : contacto.nombre}}</h3>
        <h5>{{contacto.nombre_empresa == '' ? 'Nombre de Empresa' : contacto.nombre_empresa}}</h5>
        <p>{{contacto.email == '' ? 'Correo' : contacto.email}}</p>
        <p>{{contacto.telefono == '' ? 'Teléfono' : contacto.telefono}}</p>
        <span *ngIf="contacto.categoria_id == 1">Facturación</span>
        <span *ngIf="contacto.categoria_id == 2">Soporte Técnico</span>
        <span *ngIf="contacto.categoria_id == 3">Ventas</span>
        <span *ngIf="contacto.categoria_id == 4">Información General</span>
        <p>{{contacto.mensaje == '' ? 'Mensaje Text' : contacto.mensaje}}</p>
        <p>{{contacto.created_at | date: 'yyy-WW-dd'}}</p>
    </div>
</div>
