<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">NG Angular Contactos con MySQL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-user"> Contactos</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contacto/add']" routerLinkActive="active"><i class="fa fa-plus"> Registrar contacto</i></a>
            </li>
          </ul>
        </div>
    </div>
  </nav>